<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>bookstore</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/common.css">
    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/adminManage.js"></script>
    <script type="text/javascript" src="../js/bookTypeManage.js"></script>
    <script type="text/javascript" src="../js/userInfoManage.js"></script>
</head>
<body>
<div class="navbar navbar-default" style="text-align: center;background-color: #F8D29D;border-bottom-color: #777777">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">明天小书屋</div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#out" data-toggle="tab">后台管理系统&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;退出</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top:-21px;height:540px;">
        <div class="col-sm-2" id="tag">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#bookInfoManage" data-toggle="pill">&nbsp;&nbsp;图书信息</a></li>
                <li><a href="#orderInfoManage" data-toggle="pill">&nbsp;&nbsp;订单信息</a></li>
                <li><a href="#userInfoManage" data-toggle="pill" onclick="selectAllUser()">&nbsp;&nbsp;会员信息</a></li>
                <li><a href="#adminInfoManage" data-toggle="pill" onclick="selectAllAdmin()">&nbsp;&nbsp;管理员信息</a></li>
                <li><a href="#bookTypeManage" data-toggle="pill" onclick="selectBookTypeAll()">&nbsp;&nbsp;图书类别信息</a></li>
                <li><a href="#authorsManage" data-toggle="pill">&nbsp;&nbsp;作者信息</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="tab-content">
                <div id="bookInfoManage" class="tab-pane fade in active">
                    <p class="titleManage">图书信息管理</p>
                    <table id="bookInfoTable" class="table table-bordered table-hover" style="table-layout:fixed">
                        <thead>
                        <tr class="info">
                            <th>序号</th>
                            <th>图书名称</th>
                            <th>作者</th>
                            <th>类别</th>
                            <th>图片</th>
                            <th>价格</th>
                            <th>isbn</th>
                            <th>尺寸</th>
                            <th>出版社</th>
                            <th>出版时间</th>
                            <th>页数</th>
                            <th>图书详情</th>
                            <th>库存数量</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div id="orderInfoManage" class="tab-pane fade">
                    <p class="titleManage">订单信息管理</p>
                    <table id="orderInfoManageTable" class="table table-bordered table-hover">
                        <thead>
                        <tr class="info">
                            <td>订单号</td>
                            <td>用户名称</td>
                            <td>图书名称</td>
                            <td>订单状态</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div id="userInfoManage" class="tab-pane fade">
                    <p class="titleManage">会员信息管理</p>
                    <table id="userInfoManageTable" class="table table-bordered table-hover">
                        <thead>
                        <tr class="info">
                            <td>序号</td>
                            <td>会员名称</td>
                            <td>会员密码</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="updateUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateUserLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="updateUserLabel">
                                        修改会员信息
                                    </h4>
                                </div>
                                <form class="form-horizontal" role="form">
                                    <div class="modal-body">
                                        <div class="form-group hide">
                                            <input type="number" class="form-control" id="updateUserID" placeholder="updateAdminID">
                                        </div>
                                        <div class="form-group">
                                            <label for="updateUserName" class="col-xs-3 control-label">会员名称：</label>
                                            <div class="col-xs-9">
                                                <input type="text" class="form-control" id="updateUserName" placeholder="会员名称">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="updateUserPassword" class="col-xs-3 control-label">会员密码：</label>
                                            <div class="col-xs-9">
                                                <input type="text" class="form-control" id="updateUserPassword" placeholder="会员密码">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="updateUserReal()">
                                            修改
                                        </button>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div>
                    </div>
                </div>
                <div id="adminInfoManage" class="tab-pane fade">
                    <p class="titleManage">管理员信息管理</p>
                    <a href="#"  data-toggle="modal" data-target="#insertAdmin" style="float:right">添加普通管理员?</a>
                    <table id="adminInfoManageTable" class="table table-bordered table-hover">
                        <thead>
                        <tr class="info">
                            <td>序号</td>
                            <td>管理员名称</td>
                            <td>管理员密码</td>
                            <td>等级</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="insertAdmin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="insertAdminLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="insertAdminLabel">
                                        添加普通管理员
                                    </h4>
                                </div>
                                <form class="form-horizontal" role="form">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="insertAdminName" class="col-xs-3 control-label">管理员名称：</label>
                                            <div class="col-xs-9">
                                                <input type="text" class="form-control" id="insertAdminName" placeholder="管理员名称">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="insertAdminPassword" class="col-xs-3 control-label">管理员密码：</label>
                                            <div class="col-xs-9">
                                                <input type="text" class="form-control" id="insertAdminPassword" placeholder="管理员密码">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="insertAdmin()">
                                            添加
                                        </button>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div>
                    </div>
                    <div id="updateAdmin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateAdminLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="updateAdminLabel">
                                        修改普通管理员信息
                                    </h4>
                                </div>
                                <form class="form-horizontal" role="form">
                                    <div class="modal-body">
                                        <div class="form-group hide">
                                            <input type="number" class="form-control" id="updateAdminID" placeholder="updateAdminID">
                                        </div>
                                        <div class="form-group">
                                            <label for="updateAdminName" class="col-xs-3 control-label">管理员名称：</label>
                                            <div class="col-xs-9">
                                                <input type="text" class="form-control" id="updateAdminName" placeholder="管理员名称">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="updateAdminPassword" class="col-xs-3 control-label">管理员密码：</label>
                                            <div class="col-xs-9">
                                                <input type="text" class="form-control" id="updateAdminPassword" placeholder="管理员密码">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="updateAdminReal()">
                                            修改
                                        </button>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div>
                    </div>
                </div>
                <div id="bookTypeManage" class="tab-pane fade">
                    <p class="titleManage">图书类别信息管理</p>
                    <a href="#"  data-toggle="modal" data-target="#insertBookType" style="float:right">添加图书类别?</a>
                    <table id="bookTypeManageTable" class="table table-bordered table-hover">
                        <thead>
                        <tr class="info">
                            <th>序号</th>
                            <th>类别名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="insertBookType" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="insertBookTypeLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="insertBookTypeLabel">
                                        添加图书类别
                                    </h4>
                                </div>
                                <form class="form-horizontal" role="form">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="insertBookTypeName" class="col-xs-3 control-label">图书类别：</label>
                                            <div class="col-xs-9">
                                                <input type="text" class="form-control" id="insertBookTypeName" placeholder="图书类别">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="insertBookType()">
                                            添加
                                        </button>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <div id="updateBookType" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateBookTypeLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="updateBookTypeLabel">
                                        修改图书类别
                                    </h4>
                                </div>
                                <form class="form-horizontal" role="form">
                                    <div class="modal-body">
                                        <div class="form-group hide">
                                            <input type="number" class="form-control" id="updateBookTypeID" placeholder="updateBookTypeID">
                                        </div>
                                        <div class="form-group">
                                            <label for="updateBookTypeName" class="col-xs-3 control-label">图书类别：</label>
                                            <div class="col-xs-9">
                                                <input type="text" class="form-control" id="updateBookTypeName" placeholder="图书类别">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="updateBookTypeReal()">
                                            修改
                                        </button>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </div>
                <div id="authorsManage" class="tab-pane fade">
                    <p class="titleManage">作者信息管理</p>
                    <table></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>