<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.bookstore.dao.AuthorsMapper">
    <resultMap id="Authors" type="com.ncu.bookstore.entity.Authors">
        <id column="authorID" property="authorID" jdbcType="INTEGER" />
        <result column="authorName" property="authorName" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectAllAuthors" resultMap="Authors">
        select * from authors
    </select>

    <select id="selectAuthors" resultMap="Authors" parameterType="com.ncu.bookstore.entity.Authors">
        select * from authors
        <trim prefix="where" prefixOverrides="and">
            <if test="authorID!=null">
                and authorID=#{authorID,jdbcType=INTEGER}
            </if>
            <if test="authorName!=null">
                and BINARY authorName like  "%"#{authorName, jdbcType = VARCHAR}"%"
            </if>
        </trim>
    </select>

    <insert id="insertAuthor" parameterType="com.ncu.bookstore.entity.Authors">
        insert into authors(authorName,description)
        values(#{authorName,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteAuthor" parameterType="com.ncu.bookstore.entity.Authors">
        delete from authors where authorID=#{authorID,jdbcType=INTEGER}
    </delete>

    <update id="updateAuthor" parameterType="com.ncu.bookstore.entity.Authors">
        update authors
        <trim prefix="set" prefixOverrides=",">
            <if test="authorName != null">
                authorName=#{authorName,jdbcType=VARCHAR}
            </if>
            <if test="description != null">
                ,description=#{description,jdbcType=VARCHAR}
            </if>
        </trim>
        where authorID=#{authorID,jdbcType=INTEGER}
    </update>
</mapper>