<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.bookstore.dao.BookTypeMapper">
    <resultMap id="BookType" type="com.ncu.bookstore.entity.BookType">
        <id column="typeID" property="typeID" jdbcType="INTEGER" />
        <result column="typeName" property="typeName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectAllType" resultMap="BookType">
        select * from book_type
    </select>

    <select id="selectBookType" resultMap="BookType" parameterType="com.ncu.bookstore.entity.BookType">
        select * from book_type
        <trim prefix="where" prefixOverrides="and">
            <if test="typeID!=0">
                and typeID=#{typeID,jdbcType=INTEGER}
            </if>
            <if test="typeName!=null">
                and BINARY typeName like  "%"#{typeName, jdbcType = VARCHAR}"%"
            </if>
        </trim>
    </select>

    <insert id="insertBookType" parameterType="com.ncu.bookstore.entity.BookType">
        insert into book_type(typeName)
        values(#{typeName,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteBookType" parameterType="com.ncu.bookstore.entity.BookType">
        delete from book_type where typeID=#{typeID,jdbcType=INTEGER}
    </delete>

    <update id="updateBookType" parameterType="com.ncu.bookstore.entity.BookType">
        update book_type
        <trim prefix="set" prefixOverrides=",">
            <if test="typeName != null">
                typeName=#{typeName,jdbcType=VARCHAR}
            </if>
        </trim>
        where typeID=#{typeID,jdbcType=INTEGER}
    </update>
</mapper>